body{
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.square{
    min-height: 10px;
    min-width: 10px;
    height: 30px;
    width: 30px;
    max-height: 50px;
    max-width: 50px;
    background-color: rgb(195, 70, 116);
    border-style: solid;
    border-width: 0.5px;
    padding: 0;
    /* aspect-ratio: 1/1; */
}

/* .square:hover{
    background: black;
} */

.container-grid {
    display: flex;
    flex-wrap: wrap;
    min-width: 161px;
    min-height: 161px;
    width: 496px;
    height: 496px;
}

.title {
    display: flex;
    justify-content: center;
}